@import "reset.css";
html {
  font-size: 62.5%; /* soit 10px */
}

body {
  background-color: #7359dc;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin: 22px 0 64px 0;
}
main {
  padding: 45px;
  background-color: #e5e5e5;
  border-radius: 10px;
  width: 500px;
  margin: auto;
}
button {
  font-family: "Mulish", sans-serif;
  background-color: #7359dc;
  color: white;
  font-size: 2.2rem;
  border-radius: 5px;
  width: 100%;
  outline: none;
  cursor: pointer;
}
input,
textarea {
  border: solid 1px #c4c4c4;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.6rem;
  outline: none;
}
input {
  height: 40px;
}
textarea {
  height: 200px;
}
